Opus.Core/Schema/OpusPackageDependencyV2.xsd

<?xml version="1.0" encoding="ISO-8859-1" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="PackageDefinition">
<!--
  <xs:element name="RequiredPackages" minOccurs="0" maxOccurs="unbounded">
    <xs:complexType>
        <xs:sequence>
            <xs:element name="Package" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
                <xs:attribute name="Name" type="xs:string"/>
                <xs:attribute name="Version" type="xs:string"/>
            </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
  </xs:element>
-->
</xs:element>
</xs:schema>

